* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 160px;
    margin: 25px auto;
}

.extended div {
    width: 100%;
    text-align: center;
}

.input {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 120px;
}
.inumbers {
    display: flex;
    flex-wrap: wrap;
    width: calc(160px - 1px);
    position: absolute;
    top: 0;
}

.output {
    position: relative;
}

.output input {
    width: 100%;
    height: 100px;
    border: none;
    text-decoration: underline;
    background-color: blanchedalmond;
    border-radius: 20%;
    padding: 0 15px;
    text-align: right;
}

.output div {
    position: absolute;
    top: 0;
}



.inumbers > div, .ioperands > div, .iequal {
    width: 40px;
    height: 40px;
    line-height: 100%;
    text-align: center;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid #666;
    color: #fff;
    cursor: pointer;
}

.extended > div {
    height: 40px;
    line-height: 100%;
}

.inumbers div, .extended div, .iequal div {
    padding: 15px;
    border: 1px solid #666;
    border-radius: 25px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    font-family: Arial, serif;
    font-size: calc(100% - 20%);
}


.iequal, .ioperands {
    position: absolute !important;
    display: inline-block !important;
}

.iequal {
    bottom: 0;
    right: 0;
}

.ioperands {
    right: 0;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.btn-primary {
    background-color: aquamarine!important;
    color: black!important;
}

.btn-warning {
    background-color: coral!important;
    /*color: black!important;*/
}


/*// hisotical*/

.historical {
    position: relative;
}

.historical .history {
    position: absolute;
    top: -151px;
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    bottom: 35px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow-y: scroll;
    color: #1a119f;
    background: aqua;
}

.historical button {
    padding: 5px 25px;
    border: none;
    background: yellow;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px 5px;
}

.no-content {
    display: block;
}